<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="indexer_state_save_after">
        <observer name="log_indexer_invalidation_action" instance="Magento\CloudComponents\Model\Observer\IndexerStateSaveAfter" />
    </event>
    <event name="adminhtml_cache_flush_all">
        <observer name="log_cache_flush_action" instance="Magento\CloudComponents\Model\Observer\CacheFlushAll" />
    </event>
</config>
