parameters:
    level: 1
    paths:
        - %currentWorkingDirectory%/Console
        - %currentWorkingDirectory%/Model
        - %currentWorkingDirectory%/Cron
    excludes_analyse:
        - %currentWorkingDirectory%/Test/*
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - message: '#has invalid typehint type#'
          path: %currentWorkingDirectory%/Model/UrlFinder/Product.php
